<ion-header>
  <ion-toolbar color="secondary">
    <ion-title >{{ curso }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close">

        </ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    
    <ion-card >
      <ion-icon style="color: rgb(0, 62, 128)" size="large"name="ribbon-outline"></ion-icon>
      <ion-card-header>
        <ion-card-title>Primer Bimestre</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <table>
         <tr id="headtable">
          <th width="20%">Tarea</th>
          <th width="2%"></th>
          <th width="20%">Fecha Entrega</th>
          <th width="20%">Entregada</th>
          <th width="20%">Estado</th>
          <th width="20%">Punteo</th>
         </tr>
         <tr>
           <td style="font-size: 80%;">Realizar tarea en computadora y enviarla</td>
           <td width = "2%"><ion-icon color="success" name="save-outline"></ion-icon></td>
           <td>10 de ocubre 2021</td>
           <td>9 Octubre 2021</td>
           <td>Calificada</td>
           <td>8/10</td>
         </tr>
         <tr>
          <td style="font-size: 80%;">Investigar el centro de la tierra</td>
          <td width = "2%"><ion-icon   color="success" name="search-outline"></ion-icon></td>
          <td>10 de ocubre 2021</td>
          <td>9 Octubre 2021</td>
          <td>Calificada</td>
          <td>8/10</td>
        </tr>
        <tr>
          <td style="font-size: 80%;">Grabar exposicion y mandarla</td>
          <td width = "2%"><ion-icon   color="success" name="videocam-outline"></ion-icon></td>
          <td>10 de ocubre 2021</td>
          <td>9 Octubre 2021</td>
          <td>Calificada</td>
          <td>8/10</td>
        </tr>
        <tr>
          <td style="font-size: 80%;">Realizar maquena</td>
          <td width = "2%"><ion-icon  color="success" name="hammer-outline"></ion-icon></td>
          <td>10 de ocubre 2021</td>
          <td>9 Octubre 2021</td>
          <td>Calificada</td>
          <td>8/10</td>
        </tr>

       </table>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
