<ion-header>
  <ion-toolbar>
  
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <div id="container">
      <ion-card>
        <ion-card-header>
          <ion-icon size="large" name="pencil"></ion-icon>
          <ion-card-title>Nueva Actividad</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <form>
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-md>
                  <ion-item>
                    <ion-label position="stacked">Tarea</ion-label>
                    <ion-input type="text" ></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="12" size-md>
                  <ion-item>
                    <ion-label color="tertiary" position="stacked">Fecha de Entrega</ion-label>
                    <ion-input type="date"></ion-input>
                  </ion-item>
                </ion-col>

              </ion-row>
              
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-button expand="full" (click)="f.click()">
                      <ion-icon lazy="true" slot="start" name="attach"></ion-icon>
                      <ion-label slot="end">Adjuntar documento auxiliar...</ion-label>
                    </ion-button>
                      <input class="ion-hide" #f type="file"
                        accept="image/png, image/jpeg">
        
                 </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-avatar slot="start">
                      <img src="https://us.123rf.com/450wm/yupiramos/yupiramos1610/yupiramos161007352/64369849-joven-hombre-aislado-avatar-icono-de-ilustraci%C3%B3n-vectorial-de-dise%C3%B1o.jpg?ver=6">
                    </ion-avatar>
                      <!-- Text type input -->
                        <ion-textarea placeholder="Agrega las instrucciones de la tarea"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-card-content>
        <ion-button>Guardar</ion-button><br>
      </ion-card>
    </div>
  </ion-content>

