<ion-app>
  <ion-split-pane contentId="main-content">
    
    <ion-menu *ngIf="idRol == 3" contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-img style="width: 15%;"  src="https://w7.pngwing.com/pngs/373/290/png-transparent-logo-lion-o-thundercats-animated-series-logos-miscellaneous-comics-logo-thumbnail.png">
          </ion-img>
          <ion-list-header>COLEGIO NUESTRA SENIORA DEL CARMEN</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>
                {{ p.title }}
                <ion-chip color="danger">
                  <ion-label>2</ion-label>
                </ion-chip>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
         
          <ion-menu-toggle auto-hide="false" *ngFor="let label of labels  let i = index">
            <ion-item routerDirection="root" [routerLink]="[label.url]" lines="none" detail="false" routerLinkActive="selected"  lines="none">
              <ion-icon slot="start" [ios]="label.icon + '-outline'" [md]="label.icon + '-sharp'"></ion-icon>
              <ion-label>{{ label.title }}</ion-label>
            </ion-item>
        </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
