<ion-header>
  <ion-toolbar>
  
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <div id="container">
      <ion-card>
        <ion-card-header>
          <ion-icon size="large" name="person-add"></ion-icon>
          <ion-card-title>Nueva Alumno</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <form [formGroup]=nuevoForm (ngSubmit)="postForm(nuevoForm.value)"  >
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-md>
                  <ion-item>
                    <ion-label position="stacked">Nombres</ion-label>
                    <ion-input type="text" name="nombres" class="form-control" formControlName="nombres" ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md>
                  <ion-item>
                    <ion-label position="stacked">Apellidos</ion-label>
                    <ion-input type="text" name="apellidos" class="form-control" formControlName="apellidos" ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col size="12" size-md>
                  <ion-item>
                    <ion-label position="stacked">Celular</ion-label>
                    <ion-input type="number" name="celular" class="form-control" formControlName="celular" ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md>
                  <ion-item>
                    <ion-label position="stacked">Dirección</ion-label>
                    <ion-input type="text" name="direccion" class="form-control" formControlName="direccion" ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col size="12" size-md>
                  <ion-item>
                    <ion-label position="stacked">Observación</ion-label>
                    <ion-input type="text" name="observacion" class="form-control" formControlName="observacion" ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md>
                  <ion-item>
                    <ion-label color="tertiary" position="stacked">Fecha de Nacimiento</ion-label>
                    <ion-input type="date" name="fechaNacimiento" class="form-control" formControlName="fechaNacimiento"></ion-input>
                  </ion-item>
                </ion-col>  
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-button expand="full" (click)="f.click()">
                      <ion-icon lazy="true" slot="start" name="attach"></ion-icon>
                      <ion-label slot="end">Adjuntar documento auxiliar...</ion-label>
                    </ion-button>
                      <input class="ion-hide" #f type="file" name="fotografia" class="form-control" formControlName="fotografia"
                        accept="image/png, image/jpeg">
        
                 </ion-item>
                </ion-col>
                
              </ion-row>
            </ion-grid>
            <ion-button type="submit">Guardar</ion-button><br>
          </form>
        </ion-card-content>
        
      </ion-card>
    </div>
    <ngx-datatable 
    class="material"
    [limit]="7" 
    [rows]="7" 
    [rowHeight]="60" 
    [columnMode]="'force'" 
    [headerHeight]="60" 
    [footerHeight]="60">
</ngx-datatable>
  </ion-content>
