<ion-header>
  <ion-toolbar>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-icon size="large" name="pencil-outline"></ion-icon>
        <ion-card-title>NOTAS</ion-card-title>
      </ion-card-header>

      <ion-card-content>
       Recuerda que puedes adjuntar algun documento de apoyo para realizar la actividad...
        <form>
        </form>
      </ion-card-content>
      <ion-button>Guardar</ion-button><br>
    </ion-card>
  </div>
</ion-content>
