<ion-header>
  <ion-toolbar>
  
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
      <ion-card>
        <ion-card-header>
          <ion-icon  size="large" name="person-add"></ion-icon>
          <ion-card-title> Maestro </ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <form [formGroup]=nuevoForm (ngSubmit)="postForm(nuevoForm.value)"  >
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-md>
                  <ion-item>
                    <ion-label position="stacked">Nombre Completo</ion-label>
                    <ion-input type="text" name="nombreCompleto" class="form-control" formControlName="nombreCompleto" ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md>
                  <ion-item>
                    <ion-label position="stacked">Direccion</ion-label>
                    <ion-input type="text" name="direccion" class="form-control" formControlName="direccion" ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col size="12" size-md>
                  <ion-item>
                    <ion-label position="stacked">Telefono</ion-label>
                    <ion-input type="number" name="telefono" class="form-control" formControlName="telefono" ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md>
                  <ion-item>
                    <ion-label position="stacked">Escolaridad</ion-label>
                    <ion-input type="text" name="escolaridad" class="form-control" formControlName="escolaridad" ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-button type="submit">Guardar</ion-button><br>
          </form>
        </ion-card-content>
      </ion-card>
      <app-todos></app-todos>
  </ion-content>
