<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alumnos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Alumnos <input placeholder="Buscar..." type="text" (keyup)='filterDatatable($event)'></ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-card-content>
            <ngx-datatable 
              #table
              class="material"
              [limit]="10" 
              [rows]="info" 
              [rowHeight]="55" 
              [scrollbarH]="true"
              [columns]="col"
              [width]="30"
              [columnMode]="'force'" 
              [headerHeight]="35" 
              [footerHeight]="100"
             >
              <ngx-datatable-column *ngFor="let co of col; let i = index;" name="{{co.name}}" prop="{{co.prop}}">
                <ng-template  let-value="value" let-row="row"  ngx-datatable-cell-template>
                  <span *ngIf=" co.name === 'Actions'" >
                    <ion-button title="Editar"   [routerLink]="['alumno-editar', row.idAlumno]" ><ion-icon  color="warning"  name="create-outline"></ion-icon>{{value}}</ion-button>
                    <ion-button  title="Elimir" (click)='onSelectRed(row)'><ion-icon color="danger" size="small" name="trash-outline"></ion-icon>{{value}}</ion-button>
                   
                   <!--<ion-button style="background-color:blue;height:15px;" class="btn" (click)='onSelectBlue(value)'><i class="rb-ic rb-ic-add-frame"></i></ion-button>--> 
                  </span>
                  <span *ngIf=" co.name === 'Ver'" >
                    <ion-button title="Ver" (click)='onSelectRed(row)'><ion-icon  color="success"  name="eye-outline"></ion-icon>{{value}}</ion-button>
                    <ion-button  title="Inscribir" (click)='onSelectRed(row)'><ion-icon color="tertiary" size="small" name="school-outline"></ion-icon>{{value}}</ion-button>
                   
                   <!--<ion-button style="background-color:blue;height:15px;" class="btn" (click)='onSelectBlue(value)'><i class="rb-ic rb-ic-add-frame"></i></ion-button>--> 
                  </span>
                  <label >{{ value }}</label>
                </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>
            </ion-card-content>

</ion-content>